:root{
   --primaryColor: #424242;
   --secondaryColor: #489F3E;
   --lightColor:#ffffff;
   --bgColor-1: #424242;
   --bgColor-2: #000000;
   --padding: 8%; 
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Josefin Slab', serif;
font-family: 'Jost', sans-serif;
font-size: 16px;
color: var(--lightColor);
}



span{
    color: var(--secondaryColor);
}

h2{
    font-size: 2.2rem;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

h5{
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

p{
    color: var(bisque);
    letter-spacing: 1px;
    line-height: 1.8rem;
    font-size: 1rem;
}

.home{
    width: 100%;
    height: 100vh;
    background-color: var(--bgColor-1);
    display: flex;
    flex-direction: column;
}

nav {

    padding-top: 2.8rem;
    padding-left: var(--padding);
    padding-right: var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    margin: 0.8rem 1.5rem;

}

nav ul li a{
    color: var(--lightColor);
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.4s;
}

nav ul li a:hover{
    color: var(--secondaryColor);
}

.btn{
    background-color: var(--secondaryColor);
    color: var(--lightColor);
    text-decoration: none;
    font-weight: bold;
    padding: 0.81rem;
    border-radius: 30px;
    border: 2px solid transparent;
    transition: 0.4s;
}

.btn:hover{
    background-color: transparent;
    border: 2px solid var(--bgColor-1);
}

.content{
    flex-grow: 1;
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-texts{
    position: relative;
}

h1{
    font-size: 3rem;
    margin: 1.5rem 0;
}

h3{
    font-size: 1.0rem;
    margin-bottom: 2.5rem;
}

h4{
    font-size: 1.25rem;
    letter-spacing: 0.12rem;
    color: bisque;
}



.social{
    margin-top: 3.5rem;
}

.social a {
    text-decoration: none;
}

.social img{
    margin-right: 2rem;
    width: 2.5rem;
    transition: 0.4s;
}

.social img:hover{
    transform: scale(1.2);
}

.home .container-imags{
    width: 45%;
    height: 90%;
    position: relative;
    align-self: flex-end;
}

.home .container-imags img{
    position: absolute;
    bottom: 0%;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.home .container-imags:hover .shape{
    bottom: 40px;
}

.home .container-imags:hover .pic{
    left: 45%;
}
.about{
    background-color: var(--bgColor-2);
    padding: 2rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .container-imags{
    width: 35%;
}

.about .container-imags img{
    width: 90%;
}

.about .container-texts{
    width: 35%;
}

.services{
    background-color: var(--bgColor-1);
    padding: 2rem var(--padding);
}

.text-center{
    text-align: center;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    width: 250px;
    background-color: var(--bgColor-2);
    border-radius: 20px;
    padding: 1.3rem 2rem;
    text-align: center;
}

.card i{
    font-size: 3.00rem;
    text-align: center;
    color: var(--secondaryColor);
    margin: 2rem;
}

.skills{
    background-color: var(--bgColor-2);
    padding: 3rem var(--padding);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
}

.skills .container-imags{
    width: 35%;
}

.skills .container-imags img{
    width: 80%;
}

.skills .container-skills{
   width: 40%; 
}

.content-skills{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.skill{
    width: 70px;
    height: 70px;
    background-color: var(--lightColor);
    border-radius: 50%;
    margin: 0 1rem 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill img{
    width: 70%;
}

footer{
    padding: 2rem var(--padding);
    background-color: var(--bgColor-1);
}

footer .content-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .content-footer p{
    color: var(--lightColor);
    text-align: center;
    width: 500px;
    margin-top: 1rem;
}

footer .content-footer .end{
    color: var(--secondaryColor);
    margin-top: 1rem;
}

/*----------------------------------------
*----------------- MEDIA QUERIES
----------------------------------------*/

#menu{
    display: none;
    position: relative;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    user-select: none;
}

#menu span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: var(--lightColor);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.4s;
    margin-bottom: 5px;
}

#menu.is-active span:nth-child(1) {
    transform: translate(0px, -2px) rotate(45deg);
}

#menu.is-active span:nth-child(2){
    opacity: 0;
    transform: translate(15px);
}

#menu.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}

#menu.is-active span {
    background-color: var(--secondaryColor);
}
/*----------------------------------------
*----------------- MEDIA QUERIES
----------------------------------------*/

@media screen and (max-width: 575px) {
:root{
    --padding: 1.5rem;
 }   
html{
    font-size: 13px;
}

.home .container-imags{
display: none;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    padding-top: 0;
    background-color: var(--bgColor-2);
    border-bottom: 1px solid var(--bgColor-1);
    z-index: 100;
}

nav > a {
    display: none;
}

nav ul {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bgColor-2);
}

nav ul.is-active{
    display: block;
}

nav ul li {
    display: block;
    text-align: center;
    margin: 50px;

}

.container-texts{
    bottom: 0em;
}

.social{
    margin-top: 70px;
}

h3{
    margin-bottom: 70px;
}
#menu{
    display: block;
}

.about .container-imags{
    display: none;
}

.about .container-texts{
    width: 100%;
}

.box{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.skills .container-imags{
    display: none;
}

.skills .container-imags{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.skills .container-imags.content-skills{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.skill{
    width: 80px;
    height: 80px;
}

footer .content-footer p{
    width: 100%;
}

}

@media screen and (min-width: 576px) and (max-width:767px) {
    :root{
        --padding: 1.5rem;
     }   
    html{
        font-size: 13px;
    }
    
    .home .container-imags{
    display: none;
    }

    .content{
        padding-top: 82px;
    }
   
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-2);
        border-bottom: 1px solid var(--bgColor-1);
        z-index: 100;
    }
    
    nav > a {
        display: none;
    }
    
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }
    
    nav ul.is-active{
        display: block;
    }
    
    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    
    }
    
    .container-texts{
        bottom: 0em;
    }
    
    .social{
        margin-top: 30px;
    }
    
    h3{
        margin-bottom: 30px;
    }
    #menu{
        display: block;
    }
    
    .about .container-imags{
        display: none;
    }
    
    .about .container-texts{
        width: 100%;
    }
    
    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .skills .container-imags{
        display: none;
    }
    
    .skills .container-imags{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .skills .container-imags.content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    
    .skill{
        width: 80px;
        height: 80px;
    }
    
    footer .content-footer p{
        width: 100%;
    }
    
    }

@media screen and (min-width: 768px) and (max-width:991px) {
    :root{
        --padding: 1.5rem;
     }   
    html{
        font-size: 13px;
    }
    
    .home .container-imags{
    display: none;
    }
    
    nav{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 82px;
        padding-top: 0;
        background-color: var(--bgColor-2);
        border-bottom: 1px solid var(--bgColor-1);
        z-index: 100;
    }
    
    nav > a {
        display: none;
    }
    
    nav ul {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bgColor-2);
    }
    
    nav ul.is-active{
        display: block;
    }
    
    nav ul li {
        display: block;
        text-align: center;
        margin: 50px;
    
    }
    
    .container-texts{
        bottom: 0em;
    }
    
    .social{
        margin-top: 70px;
    }
    
    h3{
        margin-bottom: 70px;
    }
    #menu{
        display: block;
    }
    
    .about .container-imags{
        display: none;
    }
    
    .about .container-texts{
        width: 100%;
    }
    
    .box{
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;
    }
    
    .skills .container-imags{
        display: none;
    }
    
    .skills .container-imags{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .skills .container-imags.content-skills{
        margin-top: 2rem;
        align-items: center;
        justify-content: center;
    }
    
    .skill{
        width: 80px;
        height: 80px;
    }
    
    footer .content-footer p{
        width: 100%;
    }
    
    }

@media screen and (min-width: 992px) and (max-width:1279px) {
:root{
    --padding: 1.5rem;
 }   
html{
        font-size: 13px;
}
        
.home .container-imags img{
    height: auto;
    width: 100%;
}
        
nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    padding-top: 0;
    background-color: var(--bgColor-2);
    border-bottom: 1px solid var(--bgColor-1);
    z-index: 100;
}
        
nav > a {
        display: none;
}
        
nav ul {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    background: var(--bgColor-2);
}
        
nav ul.is-active{
    display: block;
}
        
nav ul li {
    display: block;
    text-align: center;
    margin: 50px; 
}
        
.container-texts{
    bottom: 0em;
}
        
.social{
        margin-top: 70px;
}
        
h3{
    margin-bottom: 70px;
}
#menu{
   display: block;
}
        
.about .container-texts{
    width: 50%;
}
        
.box{
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
            
.skills .container-imags{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
        
.skills .container-imags.content-skills{
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}
        
.skill{
    width: 80px;
    height: 80px;
}
        
footer .content-footer p{
    width: 100%;
}
        
}    